<div class="container">

    <div class="row">

        <br><br>

        <p class="lead">

            Vaux is a document liberation network. This network is designed to facilliate the freedom of information on the internet. It has been built with the idea that information on the internet should be free and shared. The moment a document is uploaded to any node in the network it is immediately transfered to all other nodes. This makes sure that as long as there is a single node operating all documents uploaded to the system will remain pubically available. Vaux is also fully decentralized. All the Vaux nodes are independant and won't be effected by other nodes going down.

        </p>

    </div>

</div>
