<div class="container">

    <div class="row">

        <table class="table table-striped">

            <thead>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Size (B)</strong></td>
                    <td><strong>Uploaded (UTC)</strong></td>
                </tr>
            </thead>
            <tbody>
                {{#each}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{size}}</td>
                    <td>{{uploaded}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

</div>
